<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SharpTune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SharpTune.Properties.Settings>
            <setting name="SubaruDefsRepoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PatchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EmbeddedDefRepoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EcuFlashDefRepoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RomRaiderDefRepoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RomRaiderEcuDefPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RomRaiderLoggerDefPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GitHelpUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="DonateUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="HomeUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ForumUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>All</value>
            </setting>
        </SharpTune.Properties.Settings>
    </userSettings>
</configuration>
